<img src="/images/tile/base_floor/groundtiles_tile1.png"  />
<img src="/images/tile/base_floor/groundtiles_tile2.png"  />
<img src="/images/tile/base_floor/groundtiles_tile3.png"  />
<img src="/images/tile/base_floor/groundtiles_tile4.png"  />
<img src="/images/tile/base_floor/groundtiles_tile5.png"  />
<img src="/images/tile/base_floor/groundtiles_tile6.png"  />
<img src="/images/tile/base_floor/groundtiles_tile7.png"  />
<img src="/images/tile/base_floor/groundtiles_tile8.png"  />
<img src="/images/tile/base_floor/groundtiles_tile9.png"  />
<img src="/images/tile/base_floor/groundtiles_tile10.png"  />

<img src="/images/tile/building_floor.png" />
<img src="/images/tile/Commercial_LvFLETA-Tile.png" />
<img src="/images/tile/Industrial_LvFLETA-Tile.png" />
<img src="/images/tile/Residential_LvFLETA-Tile.png" />
<img src="/images/tile/To be built_Tile.png" />

<img src="/images/building/Commercial_Lv1.png" />
<img src="/images/building/Commercial_Lv5.png" />
<img src="/images/building/Commercial_LvFLETA.png" />

<img src="/images/building/Industrial_Lv1.png" />
<img src="/images/building/Industrial_Lv5.png" />
<img src="/images/building/Industrial_LvFLETA.png" />

<img src="/images/building/Residential_Lv1.png" />
<img src="/images/building/Residential_Lv5.png" />
<img src="/images/building/Residential_LvFLETA.png" />

<img src="/images/building/construction.png" />

<img src="/images/background/island_1.png" />
<img src="/images/background/island_2.png" />
<img src="/images/background/island_3.png" />
<img src="/images/background/island_4.png" />
<img src="/images/background/Login_UI-mainBG.png" />
<img src="/images/background/sky.png" />
<img src="/images/background/stars_1.png" />
<img src="/images/background/stars_2.png" />
<img src="/images/background/stars_3.png" />
<img src="/images/background/stars_4.png" />
<img src="/images/background/stars_5.png" />

<img src="/images/animate/completed.gif" />
<img src="/images/animate/Construction_Animation.gif" />
<img src="/images/animate/Distruction_Animation.gif" />
<img src="/images/animate/FLETA_Animation.gif" />

<img src="/images/ui/demographic.png" />
<img src="/images/ui/dollar.png" />
<img src="/images/ui/power.png" />
<img src="/images/ui/score.png" />
<img src="/images/ui/Login_UI-Chack_button-off.png" />
<img src="/images/ui/Login_UI-Chack_button-on.png" />
<img src="/images/ui/Login_UI-Join_Window-ID.png" />
<img src="/images/ui/Login_UI-Join_Window-Wallet.png" />
<img src="/images/ui/Login_UI-Join_Window.png" />
<img src="/images/ui/Login_UI-JOIN-off.png" />
<img src="/images/ui/Login_UI-JOIN-on.png" />
<img src="/images/ui/Login_UI-LOGIN-off.png" />
<img src="/images/ui/Login_UI-LOGIN-on.png" />
<img src="/images/ui/Login_UI-Logo.png" />

<img src="/images/ui/tile_select.png" />