<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="robots" content="noindex">

	<script src="/js/putEmptyPart.js"></script>
	<link href="/css/loading.css" rel="stylesheet" type="text/css" />
	<link href="/css/preset.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Geo" rel="stylesheet">
	<script src="/js/jquery-2.2.0.min.js"></script>
	<script src="/js/loading.js"></script>

	{{gamecode}}

	{{indexStyle}}
</head>
<body>
	{{loading}}
	<div class="after-loading-content">
		{{panel}}
	</div>
</body>
</html>
