<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,minimal-ui">
	<meta name="robots" content="noindex">

	<link href="/css/preset.css" rel="stylesheet" type="text/css" />
	<link href="/css/preset.css" rel="stylesheet" type="text/css" />
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

	<style>
	#screen, #touchpad {
		position:absolute;
		left:0;
		top:0;
	}
	#screen {
		z-index: 1;
	}
	#touchpad {
		z-index: 1000;
	}
	</style>
</head>
<body>
<div id="screen">
</div>
<div id="touchpad">
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="/js/game.js"></script>

</html>
