#login{
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #1b2436;
}

.loginPage {
    max-width: 768px;
    margin: 0 auto;
    width:100%;
    height:100%;
    background-color: #1b2436;
    background-image: url("/images/background/Login_UI-mainBG.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.loginPage [step] {
    display: none;
}

.login-login-view,
.login-join-view,
.login-choose-view {
    width: 56vh;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.login-choose-view {
    padding-top: 56vh;
    background-image: url(/images/ui/Login_UI-Logo.png);
    background-size: 29vh;
    background-position: center 21vh;
}

.login-choose-view .login-login {margin-bottom:3vh;}

.login-login-view {
    background-image: url(/images/ui/Login_UI-Join_Window.png);
    padding-top: 47vh;
    padding-bottom: 4vh;
    background-size: 51vh;
    background-position: center 16vh;
}

.login-join-view {
    background-image: url(/images/ui/Login_UI-Join_Window.png);
    padding-top: 37vh;
    background-size: 51vh;
    background-position: center 5vh;
}

.login-join-view .login-join {
    margin-bottom: 5vh;
}


.id-field,
.pw-field,
.eth-addr-field{
    width: 45vh;
    height: 7.1vh;
    background-size: cover !important;
    background-color: transparent !important;
    margin-bottom: 2vh;
    display: inline-block;
    position: relative;
}
.id-field > input,
.pw-field > input,
.eth-addr-field > input{
    font-size: 4vh;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 35vh;
    margin-left: 10vh;
}
.eth-addr-field{
    background-image: url(/images/ui/Login_UI-Join_Window-Wallet.png);
    height: 10.97vh;
    padding: 5.3vh 2vh 0 2vh;
    margin-bottom: 8vh;
}
.eth-addr-field > input{
    top: 5.6vh;
    margin-left: 0vh;
    width: 100%;
}
.id-field {
    background-image: url(/images/ui/Login_UI-Join_Window-ID.png);
    height: 5.33vh;
    padding-left: 12vh;
}
.id-field > input {
}
.pw-field {
    background-image: url(/images/ui/Login_UI-Join_Window-PW.png);
    height: 5.33vh;
    padding-left: 12vh;
    margin-bottom: 5vh;
}

.login-check,
.login-login,
.login-join {
    width: 45vh;
    height: 7.1vh;
    background-size: cover;
    background-color: transparent;
    border: none;
}


.login-check{
    width: 23vh;
}
.login-login,
.login-join {
    margin: 0 auto;
}

.login-join {
    background-image: url("/images/ui/Login_UI-JOIN-off.png");
}
.login-join:hover {
    background-image: url("/images/ui/Login_UI-JOIN-on.png");
}
.login-login {
    background-image: url("/images/ui/Login_UI-LOGIN-off.png");
}
.login-login:hover {
    background-image: url("/images/ui/Login_UI-LOGIN-on.png");
}
.login-check {
    background-image: url("/images/ui/Login_UI-Chack_button-off.png");
}
.login-check:hover {
    background-image: url("/images/ui/Login_UI-Chack_button-on.png");
}