#game {
    display: none;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#tileCase, #screen, #touchpad {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.islandCase{
    z-index: 0;
}
#touchpad > div,#screen > div {
    width:1rem; height:0.5rem;
}
.floor{width:1rem;}

#touchpad {
    z-index:2;
}
#screen {
    z-index:1;
}
#touchpad span {display: none;font-size: 0.14rem; position: absolute; top:0.15rem;text-align: center;line-height: 0.14rem; width:100%;}

#touchpad.hideBuilding {z-index:1;}
#screen.hideBuilding {z-index:0;pointer-events: none;}
/* #touchpad.hideBuilding .Industrial{background-color: #00f;}
#touchpad.hideBuilding .Residential{background-color: #0ff;}
#touchpad.hideBuilding .Commercial{background-color: #f0f;} */
/* #touchpad.hideBuilding span {display: block;} */
/* #touchpad.hideBuilding .scaleArea {opacity: 0.2;} */
#screen.hideBuilding .building.lv6{
    pointer-events: none;
    opacity: 0.3;
}

#touchpad >div,
#screen >div {
    position: absolute;
}
#screen .building,
#screen .floor {
    width: 1rem;
    position: absolute;
    bottom:0;
}
#screen .building.lv1{
    width: 0.5rem;
    left: 0.25rem;
    bottom: 0.25rem;
    z-index:1;
}
#screen .building.lv2{
    width: 0.5rem;
    left: 0.5rem;
    bottom: 0.125rem;
    z-index:2;
}
#screen .building.lv3{
    width: 0.5rem;
    left: 0.25rem;
    z-index: 4;
}
#screen .building.lv4{
    width: 0.5rem;
    bottom: 0.125rem;
    z-index:3;
}
#screen .building.lv5{
    width: 1rem;
    z-index:3;
}
#screen .building.lv6{
    width: 2rem;
    left: -0.5rem;
    z-index:3;
}

#screen .floor.lv6 {
    width: 2rem;
    left: -0.5rem;
}

#info {
    color: #fff;
}

.scaleArea {
    width: 70.7%;
    height: 141.4%;
    transform: scale(1, 0.5);
    position: absolute;
    bottom: -20%;
    left: 15%;
}

.hoverArea {
    transform: rotate(45deg);
    z-index: 100000000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.hover .scaleArea,
.selected .scaleArea  {
    opacity: 0.5;
    z-index: 100000;
}
.selected .hoverArea {
    background-color: #0f0;
}

.hover .hoverArea {
    border: 2px solid #0f0;
}