#logTool {
    width: 20%;
    position: fixed;
    right: 0;
    top: 0;
    height: 20px;
    overflow: auto;
}
#log {
    width: 20%;
    position: fixed;
    right: 0;
    top: 20px;
    bottom:0;
    overflow: auto;
    color: #fff;
}

#scoreboard {
    color: #fff;
}

#scoreboard #dollar,
#scoreboard #power,
#scoreboard #demographic {
    width: 11.3vh;
    height: 4vh;
    padding-left: 2.5vh;
    font-size: 2vh;
    line-height: 3.5vh;
    text-align: center;
    background-size: cover;
    display: inline-block;
}

#scoreboard #dollar {background-image: url("/images/ui/dollar.png");}
#scoreboard #power {background-image: url("/images/ui/power.png");}
#scoreboard #demographic {background-image: url("/images/ui/demographic.png");}

#menu {
    position: absolute;
    top:0;
    left:0;
    display: none;
    z-index: 100001;
}

#menu #Demolition,
#menu #Industrial {
    left: -1.3rem;
    top: -0.32rem;
}
#menu #Residential{
    left: -0.15rem;
    top: 0.53rem;
}
#menu #Upgrade,
#menu #Commercial{
    left: 1rem;
    top: -0.32rem;
}

#menu #Industrial,
#menu #Residential,
#menu #Commercial,
#menu #Demolition,
#menu #Upgrade {
    position: absolute;
    font-size: 0.2rem;
    width: 1.3rem;
    height: 1.2rem;
    background-image: url(/images/ui/Ingame-buttons-build-button-textbox.png);
    text-align: center;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 0.8rem;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

#menu button.disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}
#menu button::before.disable {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
}

#menu #Industrial::before,
#menu #Residential::before,
#menu #Commercial::before,
#menu #Demolition::before,
#menu #Upgrade::before {
    content: " ";
    width: 1rem;
    height: 0.803rem;
    background-size: cover;
    display: block;
    left: 0.162rem;
    position: absolute;
    top: 0;
}

#menu #Industrial::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-ID.png");}
#menu #Residential::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-RS.png");}
#menu #Commercial::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-BZ.png");}
#menu #Demolition::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-DM.png");}
#menu #Upgrade::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-UG.png");}

#menu #Industrial:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-ID-select.png");}
#menu #Residential:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-RS-select.png");}
#menu #Commercial:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-BZ-select.png");}
#menu #Demolition:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-DM-select.png");}
#menu #Upgrade:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-UG-select.png");}

#menu #Industrial.disable:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-ID.png");}
#menu #Residential.disable:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-RS.png");}
#menu #Commercial.disable:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-BZ.png");}
#menu #Demolition.disable:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-DM.png");}
#menu #Upgrade.disable:hover::before {background-image: url("/images/ui/Ingame-buttons-build-button-basic-UG.png");}

