.header{
    z-index: 99;
}

.desktop .aside-left{
    z-index: 98;
}

.ui_element {
    z-index: 2;
}

.islandMiddle {
    z-index:0;
}

.island {
    z-index:1;
}

#tileCase{
    z-index: 1;
}

.island .tileBackground {
    z-index: 0;
}


.islandCase{
    z-index: 0;
}
#touchpad {
    z-index:2;
}
#screen {
    z-index:1;
}

#touchpad.hideBuilding {z-index:1;}
#screen.hideBuilding {z-index:0;}

#screen .building.lv1{
    z-index:1;
}
#screen .building.lv2{
    z-index:2;
}
#screen .building.lv3{
    z-index: 4;
}
#screen .building.lv4{
    z-index:3;
}
#screen .building.lv5{
    z-index:3;
}
#screen .building.lv6{
    z-index:3;
}
.hoverArea {
    z-index: 100000000;
}
.hover .scaleArea,
.selected .scaleArea  {
    z-index: 100000;
}

#menu {
    z-index: 100001;
}

#alertUI {
    z-index: 100002;
}

.tooltip {
    z-index: 100003;
}

