<div id="left" class="aside-left">
	<button class="left-close" onclick="$('#left').removeClass('list-on');" id="left_close_btn"><i class="la la-close"></i></button>

	<div id="ver_menu" class="aside-menu" style="position: relative;">
		<ul class="menu_nav">
			<li class="menu_item active">
				<a href="index.html" class="menu_link ">
					<i class="menu_link-icon fleta"></i>
					<span class="menu_link-title"> <span class="menu_link-wrap"> <span class="text">Fleta Main Chain</span></span></span>
				</a>
			</li>
			<li class="menu_section">
				<h4 class="menu_section-text">Sub Chains</h4>
				<i class="menu_section-icon flaticon-more-v2"></i>
			</li>
		</ul>
	</div>

</div>
