<div id="pagination"></div>
<div id="paginationTemplate" style="display: none;">
	<ul class="pagination">
		<li class="fromTop"><a href="#" onclick="pageClick(this)" class="page-link"></a></li>
		<li class="previous"><a href="#" onclick="pageClick(this)" class="page-link"></a></li>
		<li pa="num"><a href="#" onclick="pageClick(this)" class="page-link">1</a></li>
		<li class="next"><a href="#" onclick="pageClick(this)" class="page-link"></a></li>
		<li class="toBottom"><a href="#" onclick="pageClick(this)" class="page-link"></a></li>
	</ul>
</div>
<script>
    function pagination(start, total, sign) {
		if (sign != -1) {
			start = total - start
		}
        var $pagination = $("#paginationTemplate").clone();
        var endNum = parseInt(total/10);
        if (total%10 != 0) {
            endNum++;
        }
        pagination.endPage = endNum;
        var currentNum = parseInt((total-start)/10)
        currentNum++
        pagination.currentPage = currentNum;

        if (currentNum == 1) {
            $pagination.find(".previous").addClass("disabled")
            $pagination.find(".fromTop").addClass("disabled")
        }
        if (currentNum == endNum) {
            $pagination.find(".next").addClass("disabled")
            $pagination.find(".toBottom").addClass("disabled")
        }

        var startIndex = parseInt(currentNum/10)*10;
        var endIndex = Math.min(startIndex+10, endNum+1);
        startIndex = endIndex-10
        var num = $pagination.find("[pa='num']");
        for (var i = startIndex ; i < endIndex ; i++) {
            if (i > 0 && i <= endNum) {
                var n = num.clone()
                n.find("a").html(i);
                if (currentNum == i) {
                    n.addClass("active");
                }
                num.before(n);
            }
        }
        num.remove()
        console.log(currentNum + " : " + endNum + " : " + (total-((currentNum-1)*10)))
        $("#pagination").html($pagination.html())
    }

    function pageClick(This) {
        var $this = $(This).parent();
        var startIndex = -1;
        if ($this.hasClass("fromTop")) {
            startIndex = 0;
        } else if ($this.hasClass("previous")) {
            startIndex = pagination.currentPage-2;
        } else if ($this.hasClass("next")) {
            startIndex = pagination.currentPage;
        } else if ($this.hasClass("toBottom")) {
            startIndex = pagination.endPage-1;
        } else {
            startIndex = $this.find("a").html()-1
        }
        getPage(startIndex*10)
    }
</script>