#total_formulators {
    color: #337fff;
}
#total_blocks {
    color: #6e45e5;
}
#total_transactions {
    color: #7fe5ff;
}

.badge.badge-success,
.badge.badge-Success {
    background-color: #34bfa3;
    color: #fff;
}

.badge.fletaCreateAccount {background-color: #96E500;color: #fff;}
.badge.CreateAccount {background-color: #96E500;color: #fff;}
.badge.fletaCreateMultiSigAccount{background-color: #3366cc;color: #fff;}
.badge.CreateMultiSigAccount{background-color: #3366cc;color: #fff;}
.badge.fletaTransfer{background-color: #7FE5FF;color: #fff;}
.badge.Transfer{background-color: #7FE5FF;color: #fff;}
.badge.fletaWithdraw{background-color: #FFCE00;color: #fff;}
.badge.Withdraw{background-color: #FFCE00;color: #fff;}
.badge.fletaBurn{background-color: #6E45E5;color: #fff;}
.badge.Burn{background-color: #6E45E5;color: #fff;}
.badge.fletaAssign{background-color: #ff7f0e;color: #fff;}
.badge.Assign{background-color: #ff7f0e;color: #fff;}
.badge.fletaDeposit{background-color: #2ca02c;color: #fff;}
.badge.Deposit{background-color: #2ca02c;color: #fff;}
.badge.fletaOpenAccount{background-color: #d62728;color: #fff;}
.badge.OpenAccount{background-color: #d62728;color: #fff;}
.badge.consensusCreateFormulation{background-color: #9467bd;color: #fff;}
.badge.consensusRevokeFormulation{background-color: #8c564b;color: #fff;}

.timeline-3_items .timeline-3_item.fletaCreateAccount::before{background-color: #96E500;}
.timeline-3_items .timeline-3_item.CreateAccount::before{background-color: #96E500;}
.timeline-3_items .timeline-3_item.fletaCreateMultiSigAccount::before{background-color: #3366cc;}
.timeline-3_items .timeline-3_item.CreateMultiSigAccount::before{background-color: #3366cc;}
.timeline-3_items .timeline-3_item.fletaTransfer::before{background-color: #7FE5FF;}
.timeline-3_items .timeline-3_item.Transfer::before{background-color: #7FE5FF;}
.timeline-3_items .timeline-3_item.fletaWithdraw::before{background-color: #FFCE00;}
.timeline-3_items .timeline-3_item.Withdraw::before{background-color: #FFCE00;}
.timeline-3_items .timeline-3_item.fletaBurn::before{background-color: #6E45E5;}
.timeline-3_items .timeline-3_item.Burn::before{background-color: #6E45E5;}
.timeline-3_items .timeline-3_item.fletaAssign::before{background-color:#ff7f0e ;}
.timeline-3_items .timeline-3_item.Assign::before{background-color: #ff7f0e;}
.timeline-3_items .timeline-3_item.fletaDeposit::before{background-color: #2ca02c;}
.timeline-3_items .timeline-3_item.Deposit::before{background-color: #2ca02c;}
.timeline-3_items .timeline-3_item.fletaOpenAccount::before{background-color: #d62728;}
.timeline-3_items .timeline-3_item.OpenAccount::before{background-color: #d62728;}
.timeline-3_items .timeline-3_item.consensusCreateFormulation::before{background-color: #9467bd;}
.timeline-3_items .timeline-3_item.consensusRevokeFormulation::before{background-color: #8c564b;}

