#total_formulators {
    color: #337fff;
}
#total_blocks {
    color: #6e45e5;
}
#total_transactions {
    color: #7fe5ff;
}

.m-brand__logo-wrapper img {
    width: 143px;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}
  
#transaction_type_per_block {
    overflow: hidden;
}

.fleta-table {
    table-layout: fixed;
}
.dataTables_wrapper table.dataTable.dtr-inline.collapsed.fleta-table>tbody>tr[role="row"]>td:first-child:before {
    content: "" !important;
}
.fleta-table th {
    min-width: 100px
}
.fleta-table th,
.fleta-table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.fleta-table>thead {
    background-color: #f4f3f8;
}
.fleta-table>thead>tr>th {
    font-weight: 600;
}

.fleta-table2 {
}

.fleta-table2 th {
    text-align: left;
}


.fleta-nohead-table {
    margin-top: 32px;
}
.fleta-m-portlet {
    overflow: hidden;
}
.fleta-m-portlet .m-timeline-3 .m-timeline-3__item {
    margin-bottom: 0.7rem;
}

#fleta-formulators {
    height: 200px;
}

#fleta_blocks {
    padding: 0 !important;
    margin: 0 !important;
}
#fleta_blocks tr th:nth-child(1) {
}
#fleta_blocks tr th:nth-child(2) {
    width: 200px
}
#fleta_blocks .blockHashSpan {
    display: block;
    width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media (min-width: 1025px) {
    .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer{
        margin-top:-70px;
    }
}


.fleta-custom-m-widget1.m-widget1 {
    padding: 3.7rem 2.2rem;
}

#transactions-item-template {
    display: none;
    visibility: hidden;
}

.fleta-chart-tooltip {
    position:absolute;
    background-color:lightgray;
    padding:5px;
    display: none;
    border-radius: 5px;
}

.row-even > th,
.row-even > td {
    background: #f9fcfb;
}

#fleta_blocks_processing.dataTables_processing.card {
    display: none !important;
}