.badge.fletacityCreateAccount{background-color: #c8ff33;color: #fff;}
.badge.fletacityDemolition{background-color: #ff3c3c;color: #fff;}
.badge.fletacityUpgrade{background-color: #3cbcff;color: #fff;}

.timeline-3_items .timeline-3_item.fletacityCreateAccount::before{background-color: #c8ff33;}
.timeline-3_items .timeline-3_item.fletacityDemolition::before{background-color: #ff3c3c;}
.timeline-3_items .timeline-3_item.fletacityUpgrade::before{background-color: #3cbcff;}

@media (min-width: 1025px) {
    .desktop .aside-left {
        background-color: #1b2436;
    }
}

.header .container .stack .brand .floting a img{
    top: 40px;
}

.desktop .wrapper .subheader .flex .subheader_title{
    color: #242422;
}

.header .container .stack {
    background-color: #1b2436;
}

.footer {
    background: #6e45e5;
    padding: 10px 0 0px 262px;
}

.clickable {
    cursor: pointer;
}
.active {
    background-color: #1b2436;
    color: #fff;
}
.pagination .active {
    background-color: #fff;
}

.header .header-head .header-menu .menu_nav .menu_item.activeScore.Score{
    filter: grayscale(0);
}

.header .header-head .header-menu .menu_nav .menu_item .menu_link .score{background-image: url(/images/icon-Score.png);}

@media (max-width: 1024px) {
    .header .header-head {
        background-color: #1b2436;
    }
    .header .header-head.menu-on .mobile-close {
        background-color: #19202c;
    }
    .header .container .stack .brand .floting a img {
        width: 56px;
        top: 6px;
    }
}
