#total_formulators {
    color: #337fff;
}
#total_blocks {
    color: #6e45e5;
}
#total_transactions {
    color: #7fe5ff;
}

.badge.badge-success,
.badge.badge-Success {
    background-color: #337fff;
    color: #fff;
}

.badge.fletaCreateAccount {background-color: #00e5d3;color: #fff;}
.badge.CreateAccount {background-color: #00e5d3;color: #fff;}
.badge.fletaCreateMultiSigAccount{background-color: #214cff;color: #fff;}
.badge.CreateMultiSigAccount{background-color: #214cff;color: #fff;}
.badge.fletaTransfer{background-color: #6e45e5;color: #fff;}
.badge.Transfer{background-color: #6e45e5;color: #fff;}
.badge.fletaWithdraw{background-color: #b5adff;color: #fff;}
.badge.Withdraw{background-color: #b5adff;color: #fff;}
.badge.fletaBurn{background-color: #ffba00;color: #fff;}
.badge.Burn{background-color: #ffba00;color: #fff;}
.badge.fletaAssign{background-color: #ffe200;color: #fff;}
.badge.Assign{background-color: #ffe200;color: #fff;}
.badge.fletaDeposit{background-color: #ff3e9f;color: #fff;}
.badge.Deposit{background-color: #ff3e9f;color: #fff;}
.badge.fletaOpenAccount{background-color: #7fe5ff;color: #fff;}
.badge.OpenAccount{background-color: #7fe5ff;color: #fff;}
.badge.consensusCreateFormulation{background-color: #b835f2;color: #fff;}
.badge.consensusRevokeFormulation{background-color: #3c2352;color: #fff;}

.timeline-3_items .timeline-3_item.fletaCreateAccount::before{background-color: #00e5d3;}
.timeline-3_items .timeline-3_item.CreateAccount::before{background-color: #00e5d3;}
.timeline-3_items .timeline-3_item.fletaCreateMultiSigAccount::before{background-color: #214cff;}
.timeline-3_items .timeline-3_item.CreateMultiSigAccount::before{background-color: #214cff;}
.timeline-3_items .timeline-3_item.fletaTransfer::before{background-color: #6e45e5;}
.timeline-3_items .timeline-3_item.Transfer::before{background-color: #6e45e5;}
.timeline-3_items .timeline-3_item.fletaWithdraw::before{background-color: #b5adff;}
.timeline-3_items .timeline-3_item.Withdraw::before{background-color: #b5adff;}
.timeline-3_items .timeline-3_item.fletaBurn::before{background-color: #ffba00;}
.timeline-3_items .timeline-3_item.Burn::before{background-color: #ffba00;}
.timeline-3_items .timeline-3_item.fletaAssign::before{background-color:#ffe200 ;}
.timeline-3_items .timeline-3_item.Assign::before{background-color: #ffe200;}
.timeline-3_items .timeline-3_item.fletaDeposit::before{background-color: #ff3e9f;}
.timeline-3_items .timeline-3_item.Deposit::before{background-color: #ff3e9f;}
.timeline-3_items .timeline-3_item.fletaOpenAccount::before{background-color: #7fe5ff;}
.timeline-3_items .timeline-3_item.OpenAccount::before{background-color: #7fe5ff;}
.timeline-3_items .timeline-3_item.consensusCreateFormulation::before{background-color: #b835f2;}
.timeline-3_items .timeline-3_item.consensusRevokeFormulation::before{background-color: #3c2352;}

